* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  background-color: black;
}

a {
  color: white;
}

.topnav {
/*  overflow: hidden;*/
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav input {
  padding: 14px 16px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #990000;
  color: white;
}

.content {
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  overflow: scroll;
}

.myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #990000;
  color: #fff;
  cursor: pointer;
}

.myBtn:hover {
  background: #ddd;
  color: black;
}

.hs-css {
	border: 1px solid white;
}

.hs-css-nowrap {
	border: 1px solid white;
	white-space: nowrap;
}

.transactions-css {
	border: 1px solid white;
}


.transactions-css-nowrap {
	border: 1px solid white;
	white-space: nowrap;
}
